.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  gap: 60px; 
  padding: 40px 20px;
  margin: 0 auto;
}

.profile-pic-container {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.profile-pic {
  width: 250px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.05);
}

.profile-text {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-text p {
  font-size: 18px;
  margin: 5px 0;
  color: #555;
}

.profile-text h1 {
  font-size: 36px;
  margin: 10px 0;
  color: #000;
}

.profile-text p:last-child {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn-primary {
  background-color: #e0e0e0;
  color: #333;
  border: none;
}

.btn-primary:hover {
  background-color: #cfcfcf;
  transform: scale(1.05);
}

.btn-secondary {
  background-color: #e0e0e0;
  color: #333;
}

.btn-secondary:hover {
  background-color: #cfcfcf;
  transform: scale(1.05);
}

.social-icons {
  display: flex;
  gap: 10px; 
  justify-content: center; 
  align-items: center;
  margin-top: 15px;
  width: fit-content; 
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: contain;
  transition: transform 0.3s ease;
  margin: 0;
}

.icon:hover {
  transform: scale(1.1);
}


@media screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    gap: 40px;
    padding: 20px 10px;
  }

  .profile-text h1 {
    font-size: 28px;
  }

  .profile-text p {
    font-size: 16px;
  }

  .profile-pic {
    width: 200px;
    height: 200px;
  }

  .btn {
    padding: 8px 16px;
  }

  .icon {
    width: 35px;
    height: 35px;
  }
}
